<h1>BYJU'S Lab Content Helper</h1>

<hr>
<label for="title">Name of the diagram </label>
<input type="text" [(ngModel)]='title' name="title" rows="5" cols="50">

<br> <br>

<label for="thumbnail">Thumbnail image </label>
<input type="file" name="thumbnail" accept=".png" (change)="onThumbnailFileChanged($event)">

<br> <br>

<label for="thumbnail">Greyscale Image </label>
<input type="file" name="greyscale" accept=".png" (change)="onGreyscaleFileChanged($event)">

<br> <br>

<label for="thumbnail">Labelled Image </label>
<input type="file" name="labelled" accept=".png" (change)="onLabelledFileChanged($event)">

<br> <br>

<button (click)="download()">Process and download zip</button>

<hr>

